# Arquivos de resultados de testes gerados pelo Cypress
/cypress/videos/
/cypress/screenshots/

# Arquivos de cache ou build
/cypress/downloads/
/cypress/.cache/

# Arquivos de dependências do Cypress 
/node_modules/
